In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [4]:
data = pd.read_csv(r'C:\Users\z0044zfu\Desktop\Topic 7\postings.csv', nrows=10000)

In [6]:
data.head()

,Unnamed: 0,id,typename,shortcode,caption,first_comment,text,comments_disabled,taken_at,dimension_x,dimension_y,owner_id,owner_username,owner_follower_count,is_video,caption_is_edited,has_ranked_comments,is_ad,like_count,comment_count,location_id,location_name,location_lat,location_lon,created_at,accessibility_caption,real_like_count
0,0,76939462,GraphImage,ElgDG,Run,NaN,Run,0,2011-05-22 20:10:09.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,11,1,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.880414,NaN,NaN
1,1,76939718,GraphImage,ElgHG,Run,NaN,Run,0,2011-05-22 20:10:32.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,4,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.883858,NaN,NaN
2,2,76940738,GraphImage,ElgXC,Baller,NaN,Baller,0,2011-05-22 20:12:12.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,4,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.887002,NaN,NaN
3,3,76951807,GraphImage,EljD_,Bletel,NaN,Bletel,0,2011-05-22 20:28:44.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,3,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.889113,NaN,NaN
4,4,78399988,GraphImage,ErEn0,Penny,NaN,Penny,0,2011-05-24 22:19:35.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,5,1,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.891155,NaN,NaN

In [7]:
data.columns

Index(['Unnamed: 0', 'id', 'typename', 'shortcode', 'caption', 'first_comment',
       'text', 'comments_disabled', 'taken_at', 'dimension_x', 'dimension_y',
       'owner_id', 'owner_username', 'owner_follower_count', 'is_video',
       'caption_is_edited', 'has_ranked_comments', 'is_ad', 'like_count',
       'comment_count', 'location_id', 'location_name', 'location_lat',
       'location_lon', 'created_at', 'accessibility_caption',
       'real_like_count'],
      dtype='object')

In [8]:
data.first_comment.isna().sum()

10000

In [11]:
data.text

0                      Run
1                      Run
2                   Baller
3                   Bletel
4                    Penny
              ...
995          Loveeeeeeee 😍
996                    NaN
997                    Hy😄
998            Boyfriend 💙
999    Boyfriend's B'Day 😚
Name: text, Length: 1000, dtype: object

In [12]:
data.caption

0                      Run
1                      Run
2                   Baller
3                   Bletel
4                    Penny
              ...
995          Loveeeeeeee 😍
996                    NaN
997                    Hy😄
998            Boyfriend 💙
999    Boyfriend's B'Day 😚
Name: caption, Length: 1000, dtype: object

In [22]:
caption_vs_text = data[data.caption != data.text]

In [53]:
caption_vs_text

,Unnamed: 0,id,typename,shortcode,caption,first_comment,text,comments_disabled,taken_at,dimension_x,dimension_y,owner_id,owner_username,owner_follower_count,is_video,caption_is_edited,has_ranked_comments,is_ad,like_count,comment_count,location_id,location_name,location_lat,location_lon,created_at,accessibility_caption,real_like_count
6,6,82243711,GraphImage,E5vB_,NaN,NaN,NaN,0,2011-05-29 21:50:21.000000,612,612,4492742,vieilleecole,1459.0,0,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN,2019-08-23 17:34:37.860434,NaN,NaN
7,7,108523909,GraphImage,Gd_GF,NaN,NaN,NaN,0,2011-06-27 03:23:20.000000,612,612,5689113,shoehefner5,15030.0,0,0.0,0.0,0.0,21,3,NaN,NaN,NaN,NaN,2019-08-23 17:25:14.890641,NaN,NaN
8,8,109232246,GraphImage,GgsB2,NaN,NaN,NaN,0,2011-06-27 21:34:22.000000,612,612,1607015,nickdepaula,41732.0,0,0.0,0.0,0.0,72,1,NaN,NaN,NaN,NaN,2019-08-23 17:20:18.807594,NaN,NaN
11,11,130544320,GraphImage,Hx_LA,NaN,NaN,NaN,0,2011-07-16 14:52:41.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,4,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.899247,NaN,NaN
16,16,142774699,GraphImage,IgpGr,NaN,NaN,NaN,0,2011-07-25 21:34:53.000000,612,612,848331,tash_mas,958.0,0,0.0,0.0,0.0,9,2,NaN,NaN,NaN,NaN,2019-08-24 14:16:34.276475,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,973,580397171,GraphImage,imChz,NaN,NaN,NaN,0,2012-01-19 18:54:25.000000,612,612,19202460,kixtique,12351.0,0,0.0,0.0,0.0,26,3,NaN,NaN,NaN,NaN,2019-08-23 17:16:01.710892,NaN,NaN
977,977,581794316,GraphImage,irXoM,NaN,NaN,NaN,0,2012-01-20 00:49:20.000000,612,612,14281167,sneakerpolitics,234474.0,0,0.0,0.0,0.0,50,9,NaN,NaN,NaN,NaN,2019-08-24 13:59:39.206051,NaN,NaN
982,982,586184481,GraphImage,i8Hch,NaN,NaN,NaN,0,2012-01-20 22:41:21.000000,612,612,10555527,bommenwerper,8029.0,0,0.0,0.0,0.0,3,0,NaN,NaN,NaN,NaN,2019-08-23 16:59:42.618865,NaN,NaN
988,988,597689393,GraphImage,joAQx,NaN,NaN,NaN,0,2012-01-22 19:20:04.000000,612,612,19202460,kixtique,12351.0,0,0.0,0.0,0.0,3,1,NaN,NaN,NaN,NaN,2019-08-23 17:16:01.718486,NaN,NaN
996,996,608559108,GraphImage,kReAE,NaN,NaN,NaN,0,2012-01-24 20:11:16.000000,612,612,10555527,bommenwerper,8029.0,0,0.0,0.0,0.0,1,0,NaN,NaN,NaN,NaN,2019-08-23 16:59:42.627177,NaN,NaN

In [19]:
data.caption.isna().sum()

203

In [47]:
caption_vs_text.caption.value_counts()

Bentley enjoying Monkey. Ignoring the football game as usual.                                   1
Moroccan Dyembe                                                                                 1
Route 66                                                                                        1
Cold Evan                                                                                       1
#Nike wearing some air max's 1's for thanksgiving FOOTBALL!                                     1
Old pic. Couple summers ago. One hell of a weekend on a clients dime!!!! #dreamcar #Porsche     1
An hour before his dinner time this starts.                                                     1
@sneakerpedia wearing ACG's today. Laces for @misterqmart & @tdotloveskicks                     1
Latest pickups....                                                                              1
@vashe or these?                                                                                1
Edicion para #pintoycoloreo27 #collaborationwork de @rsuarez                                    1
How it all started. #lab #bentley #beast.                                                       1
The Global Rave @ Valdeserrano Fuenlabrada                                                      1
@sneakerpedia today's #Nike.  Vintage.  #sneakerholics                                          1
Today's watch. #gshock                                                                          1
Izan Navideño 🎅! Feliz Navidad y un prospero año nuevo a todos!                                 1
Nike Firecourt                                                                                  1
Name: caption, dtype: int64

In [48]:
caption_vs_text.text.value_counts()

Izan Navideño 🎅! Feliz Navidad y un prospero año nuevo a todos!\n#snapseed #iphone3gs #navidad #valencia #iphoneonly #iphonesia #instagram #popular #picoftheday #fotodeldia #igersmadrid #instagrameando #instagrameandofeat #instagramers #iphoneography #ig #instagood #instamood #jj #igers #madrid #lafotodeldia #ignation #webstagram #statigram #igdaily #instahub #instagramhub #instadaily                                            1
Cold Evan\n#snapseed #iphone3gs #blackandwhite #bw #bwcontest #bwcontest2 #bnw #bwoftheday #mividaenblancoynegro #bwcolor #blancoynegro #iphoneonly #iphonesia #instagram #popular #picoftheday #fotodeldia #igersmadrid #instagrameando #instagrameandofeat #instagramers #iphoneography #ig #instagood #instamood #jj #igers #madrid #igdaily #instahub                                                                                      1
@sneakerpedia wearing ACG's today. Laces for @misterqmart & @tdotloveskicks\n@vashe look forward to seeing those new "honeys" on feet!                                                                                                                                                                                                                                                                                                         1
@vashe or these?    \n@sneakertip07 these are the 5's.                                                                                                                                                                                                                                                                                                                                                                                         1
Bentley enjoying Monkey. Ignoring the football game as usual. \n@misshcindc he gets all the chicks!                                                                                                                                                                                                                                                                                                                                            1
Edicion para #pintoycoloreo27 #collaborationwork de @rsuarez \n#snapseed #iphone3gs #pixlromatic #landscape #igersmadrid #fotodeldia #picoftheday #iphoneographic #iphoneography #instagramers                                                                                                                                                                                                                                                 1
An hour before his dinner time this starts. \n@vashe he begs more then me!!!!!!                                                                                                                                                                                                                                                                                                                                                                1
The Global Rave @ Valdeserrano Fuenlabrada\nJaja que razon tienes @lunazul76 😜\n#snapseed #iphone3gs #rave #techno #iphoneonly #iphonesia #instagram #popular #picoftheday #fotodeldia #igersmadrid #instagrameando #instagrameandofeat #instagramers #iphoneography #ig #instagood #instamood #jj #igers #madrid #lafotodeldia #ignation #webstagram #statigram #igdaily #instahub #instagramhub #instadaily                                  1
Latest pickups....\n@linahalleberg saw the multi laces and had to have them!                                                                                                                                                                                                                                                                                                                                                                   1
Old pic. Couple summers ago. One hell of a weekend on a clients dime!!!! #dreamcar #Porsche \n@garrisonnjp ya.   Was a really "hard" weekend. Tough life!!                                                                                                                                                                                                                                                                                     1
Moroccan Dyembe\n#snapseed #iphone3gs #moroccan #jembe #iphoneonly #iphonesia #instagram #popular #picoftheday #fotodeldia #igersmadrid #instagrameando #instagrameandofeat #instagramers #iphoneographic #iphoneography #ig #pictureoftheday #instagood #instamood #jj #igers #madrid #lafotodeldia #webstagram #statigram #igdaily #instahub #instagramhub #instadaily                                                                       1
Route 66\nTenia un monton de años y se rompio @glorina13 😓. Era d un chino del Cobo Calleja jajaja tirao d precio.\n#snapseed #iphone3gs #rodec  #iphoneonly #iphonesia #instagram #popular #picoftheday #fotodeldia #igersmadrid #instagrameando #instagrameandofeat #instagramers #iphoneography #ig #instagood #instamood #jj #igers #madrid #lafotodeldia #ignation #webstagram #statigram #igdaily #instahub #instagramhub #instadaily    1
#Nike wearing some air max's 1's for thanksgiving FOOTBALL!\n@lasosexii was a good way to spend American thanksgiving!!!!!   You silly Americans get the holiday date wrong.                                                                                                                                                                                                                                                                   1
Nike Firecourt\n#nike #OMFT #Vintage #Sneakerqueen #SQ210                                                                                                                                                                                                                                                                                                                                                                                      1
How it all started. #lab #bentley #beast. \n@yullisexpectit he gets all the chicks!                                                                                                                                                                                                                                                                                                                                                            1
@sneakerpedia today's #Nike.  Vintage.  #sneakerholics\n@dope_as_fuck they are called Elite vintage.   Basically "age" new shoes.   Released about 3 years ago if I remember right.                                                                                                                                                                                                                                                            1
Today's watch. #gshock\n@lasosexii haha.  Bored are ya.  Funny girl.\nWell.      Let's see.......!!!!                                                                                                                                                                                                                                                                                                                                          1
Name: text, dtype: int64

In [45]:
caption_vs_text.caption.iloc[1] == np.nan

False

In [42]:
caption_vs_text

,Unnamed: 0,id,typename,shortcode,caption,first_comment,text,comments_disabled,taken_at,dimension_x,dimension_y,owner_id,owner_username,owner_follower_count,is_video,caption_is_edited,has_ranked_comments,is_ad,like_count,comment_count,location_id,location_name,location_lat,location_lon,created_at,accessibility_caption,real_like_count
6,6,82243711,GraphImage,E5vB_,NaN,NaN,NaN,0,2011-05-29 21:50:21.000000,612,612,4492742,vieilleecole,1459.0,0,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN,2019-08-23 17:34:37.860434,NaN,NaN
7,7,108523909,GraphImage,Gd_GF,NaN,NaN,NaN,0,2011-06-27 03:23:20.000000,612,612,5689113,shoehefner5,15030.0,0,0.0,0.0,0.0,21,3,NaN,NaN,NaN,NaN,2019-08-23 17:25:14.890641,NaN,NaN
8,8,109232246,GraphImage,GgsB2,NaN,NaN,NaN,0,2011-06-27 21:34:22.000000,612,612,1607015,nickdepaula,41732.0,0,0.0,0.0,0.0,72,1,NaN,NaN,NaN,NaN,2019-08-23 17:20:18.807594,NaN,NaN
11,11,130544320,GraphImage,Hx_LA,NaN,NaN,NaN,0,2011-07-16 14:52:41.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,4,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.899247,NaN,NaN
16,16,142774699,GraphImage,IgpGr,NaN,NaN,NaN,0,2011-07-25 21:34:53.000000,612,612,848331,tash_mas,958.0,0,0.0,0.0,0.0,9,2,NaN,NaN,NaN,NaN,2019-08-24 14:16:34.276475,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,973,580397171,GraphImage,imChz,NaN,NaN,NaN,0,2012-01-19 18:54:25.000000,612,612,19202460,kixtique,12351.0,0,0.0,0.0,0.0,26,3,NaN,NaN,NaN,NaN,2019-08-23 17:16:01.710892,NaN,NaN
977,977,581794316,GraphImage,irXoM,NaN,NaN,NaN,0,2012-01-20 00:49:20.000000,612,612,14281167,sneakerpolitics,234474.0,0,0.0,0.0,0.0,50,9,NaN,NaN,NaN,NaN,2019-08-24 13:59:39.206051,NaN,NaN
982,982,586184481,GraphImage,i8Hch,NaN,NaN,NaN,0,2012-01-20 22:41:21.000000,612,612,10555527,bommenwerper,8029.0,0,0.0,0.0,0.0,3,0,NaN,NaN,NaN,NaN,2019-08-23 16:59:42.618865,NaN,NaN
988,988,597689393,GraphImage,joAQx,NaN,NaN,NaN,0,2012-01-22 19:20:04.000000,612,612,19202460,kixtique,12351.0,0,0.0,0.0,0.0,3,1,NaN,NaN,NaN,NaN,2019-08-23 17:16:01.718486,NaN,NaN
996,996,608559108,GraphImage,kReAE,NaN,NaN,NaN,0,2012-01-24 20:11:16.000000,612,612,10555527,bommenwerper,8029.0,0,0.0,0.0,0.0,1,0,NaN,NaN,NaN,NaN,2019-08-23 16:59:42.627177,NaN,NaN

In [52]:
data.head(10)

,Unnamed: 0,id,typename,shortcode,caption,first_comment,text,comments_disabled,taken_at,dimension_x,dimension_y,owner_id,owner_username,owner_follower_count,is_video,caption_is_edited,has_ranked_comments,is_ad,like_count,comment_count,location_id,location_name,location_lat,location_lon,created_at,accessibility_caption,real_like_count
0,0,76939462,GraphImage,ElgDG,Run,NaN,Run,0,2011-05-22 20:10:09.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,11,1,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.880414,NaN,NaN
1,1,76939718,GraphImage,ElgHG,Run,NaN,Run,0,2011-05-22 20:10:32.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,4,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.883858,NaN,NaN
2,2,76940738,GraphImage,ElgXC,Baller,NaN,Baller,0,2011-05-22 20:12:12.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,4,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.887002,NaN,NaN
3,3,76951807,GraphImage,EljD_,Bletel,NaN,Bletel,0,2011-05-22 20:28:44.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,3,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.889113,NaN,NaN
4,4,78399988,GraphImage,ErEn0,Penny,NaN,Penny,0,2011-05-24 22:19:35.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,5,1,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.891155,NaN,NaN
5,5,78441609,GraphImage,ErOyJ,Decks,NaN,Decks,0,2011-05-24 23:42:40.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,4,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.893119,NaN,NaN
6,6,82243711,GraphImage,E5vB_,NaN,NaN,NaN,0,2011-05-29 21:50:21.000000,612,612,4492742,vieilleecole,1459.0,0,0.0,0.0,0.0,0,0,NaN,NaN,NaN,NaN,2019-08-23 17:34:37.860434,NaN,NaN
7,7,108523909,GraphImage,Gd_GF,NaN,NaN,NaN,0,2011-06-27 03:23:20.000000,612,612,5689113,shoehefner5,15030.0,0,0.0,0.0,0.0,21,3,NaN,NaN,NaN,NaN,2019-08-23 17:25:14.890641,NaN,NaN
8,8,109232246,GraphImage,GgsB2,NaN,NaN,NaN,0,2011-06-27 21:34:22.000000,612,612,1607015,nickdepaula,41732.0,0,0.0,0.0,0.0,72,1,NaN,NaN,NaN,NaN,2019-08-23 17:20:18.807594,NaN,NaN
9,9,120684023,GraphImage,HMX33,Melonville,NaN,Melonville,0,2011-07-08 09:26:31.000000,612,612,4112094,melonkicks,38011.0,0,0.0,0.0,0.0,2,0,NaN,NaN,NaN,NaN,2019-08-24 13:25:17.895125,NaN,NaN